.error {
  &__message {
    font-size: 11px;
    max-width: 150px;
    border-radius: 2px;
    padding: 4px 8px;
    margin-left: 10px;
    background: $error;
    color: $white;
    position: relative;


    @include media-breakpoint-up(sml) {
      &::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $error;
      }
    }
  }
}