$white: #FFF;
$border: #555;
$text: #666;
$shadow: #DDD;
$required: #FFA0A0;
$error: #FFB2B2;
$button: #FF8E1D;
$background: #F7F7F7;
$input-placeholder: #CCC;
$info: #CCC;
$label: #8CA2C2;
$label-text: #A1B8DB;
$header-text: #486CA3;
$header: #355990;
$header-top: #1E3B68;
$success: #F0FCF3;
$success-text: rgb(107, 209, 107);

$transition-time: 0.3s;